body {
    font-family: Helvetica, sans-serif;
    background-color: cornflowerblue;
    padding: 3em;
}

#results {
    border-radius: 3px;
    background-color: #f2f2f2;
    overflow: hidden;
}

#results div {
    margin: 1em 1em 1em 1em;
}

input {
    width: 50%;
}