body {
    font-family: Helvetica, sans-serif;
    padding: 3em;
}

#suggestions {
    border-radius: 3px;
    background-color: #f2f2f2;
    overflow: hidden;
}

#suggestions div {
    margin: 1em 1em 1em 1em;
}

input {
    width: 50%;
}

.panel .table .td, .panel .table .th {
}