body {
    background-color: white;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

.dashboard {
    width: 100%;
}

.dashboard > div {
    height: auto;
    background-color: darkgrey;
    border-top: 1px solid white;
    padding: 10px;
    text-align: left;
}

.dashboard .errors {
    background-color: red;
}

.dashboard span div {
    margin-left: 20px;
    margin-right: 20px;
}

#lastTenInfo li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons {
    margin: 20px 0;
    width: 100%;
}

.buttons > input, .URLinput input {
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    display: inline-block;
    width: 30%;
    height: 55px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.URLinput {
    height: 250px;
    background-color: dimgray;
    position: relative;
}

.URLinput #url {
    width: 55vw;
    margin: 20px;
    text-align: center!important;
    color: black;
}

#stateInfo .Initializing {
    background-color: gold;
}

#stateInfo .Crawling {
    background-color: green;
}

#stateInfo .Idling {
    background-color: gray;
}

#stateInfo .Clearing {
    color: orangered;
}

#stateInfo .Started {
    color: gold;
}

#stateInfo .Ready {
    color: green;
}

.URLinput #search {
    background-color: teal;
}

.URLinput #search:hover {
    background-color: lightblue;
    color: darkgrey;
}

.URLinput #refresh {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100px;
    background-color: white;
    margin: 5px;
    color: black;
}

ul {
    list-style-type: none;
}

.URLinput #refresh:hover {
    cursor: pointer;
}

.buttons #start:hover {
    background-color: lightgreen;
    color: darkgray;
}

.buttons #start {
    background-color: green;
}

.buttons #stop:hover {
    background-color: yellow;
    color: darkgray;
}

.buttons #start:disabled {
    color: white;
    background-color: darkgrey;
}

.buttons #start:disabled:hover {
    cursor: not-allowed;
}

.buttons #stop {
    background-color: gold;
}

.buttons #clear:hover {
    background-color: lightcoral;
    color: darkgray;
}

.buttons #clear {
    background-color: red;
}

.buttons > input:hover, .URLinput #search:hover {
    cursor: pointer;
}